*{
  font-family: 'Lexend Deca', Tahoma;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  position: relative;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 1px; 
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-bottom: 4px;      
  background-position-y: calc(100% - 1px); 
}

a:hover,
a:focus-visible {
  background-size: 100% 2px;
}