*{
  font-family: 'Lexend Deca', Tahoma;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input:focus {
  outline: 1px
}

/* a {
  position: relative;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 1px; 
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-bottom: 4px;      
  background-position-y: calc(100% - 1px); 
}

a:hover,
a:focus-visible {
  background-size: 100% 2px;
} */

#loadingnow{
  width: 60px;
  aspect-ratio: 1;
  --g: conic-gradient(from -90deg at 10px 10px,#ffffff 90deg,#0000 0);
  background: var(--g), var(--g), var(--g);
  background-size: 50% 50%;
  animation: l19 1s infinite;
}
@keyframes l19 {
   0%   {background-position:0     0, 10px 10px, 20px 20px}
   33%  {background-position:10px  10px}
   66%  {background-position:0    20px,10px 10px,20px 0   }
   100% {background-position:0     0, 10px 10px, 20px 20px}
}


/* btn btn-neutral mt-4 rounded-2xl bg-teal-500 text-black hover:bg-teal-300/50 */