*{
  font-family: 'Lexend Deca', Tahoma;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input:focus {
  outline: 1px
}

/* a {
  position: relative;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 1px; 
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-bottom: 4px;      
  background-position-y: calc(100% - 1px); 
}

a:hover,
a:focus-visible {
  background-size: 100% 2px;
} */


.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}




/* btn btn-neutral mt-4 rounded-2xl bg-teal-500 text-black hover:bg-teal-300/50 */