@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.btn-ghost {
  @apply hover:bg-base-content/10;
  @apply rounded;
}


@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: dark;
  
  --color-base-100: oklch(18% 0.02 240); 
  --color-base-200: oklch(22% 0.03 240);     
  --color-base-300: oklch(28% 0.04 240);     
  --color-base-content: oklch(90% 0.02 240); 
  
  --color-primary: #00d4aa;                 
  --color-secondary: #ff2d92;               
  --color-accent: #7c3aed;
  
  --color-neutral: oklch(30% 0.04 240);
  --color-neutral-content: oklch(85% 0.01 240);

  --radius-selector: 1rem;
  --radius-box: 0.5rem;
}

@plugin "daisyui/theme" {
  name: "light";
  color-scheme: light;
  --color-primary: #00d4aa;
  --color-secondary: #ff2d92;
  --color-accent: #7c3aed;
  --radius-selector: 1rem;
  --radius-box: 0.5rem;
}


.theme-icon-white {
  transition: filter 0.3s ease;
}

[data-theme='dark'] .theme-icon-white {
  filter: brightness(0) invert(1);
}
